<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Compressed Photos</title>
        <link rel="icon" type="image/x-icon" href="<%= faviconLink %>" />
        <link rel="stylesheet" href="<%= stylesLink %>/image.css" />
        <%- include('sizesScript') %>
    <body>
        <% for (let image of images) { %> <%- include('image', image) %> <% } %>
    </body>
</html>
